<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sms.mapper.CourseMapper">
    <select id="selectCourseVoPage" resultType="com.sms.vo.CourseVo">
        select course.id, course.teacher_id, course.name, u.name as teacherName
        from course
        join user u on course.teacher_id = u.id
        where course.deleted = 0
        <if test="id != null">
            and course.teacher_id = ${id}
        </if>
        <if test="courseSelectDto.name != null and courseSelectDto.name != ''">
            and course.name like '%${courseSelectDto.name}%'
        </if>
        <if test="courseSelectDto.teacherName != null and courseSelectDto.teacherName != ''">
            and u.name like '%${courseSelectDto.teacherName}%'
        </if>
    </select>
</mapper>