<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sms.mapper.GradeMapper">
    <select id="selectTeacherPage" resultType="com.sms.vo.GradeVo">
        select grade.id, student_id, score, u.name as studentName, c.name as courseName
        from grade
        join user u on grade.student_id = u.id
        join course c on grade.course_id = c.id
        where grade.teacher_id = ${id}
        and grade.deleted = 0
        <if test="gradeSelectDto.studentName != null and gradeSelectDto.studentName != ''">
            and u.name like '%${gradeSelectDto.studentName}%'
        </if>
        <if test="gradeSelectDto.courseName != null and gradeSelectDto.courseName != ''">
            and c.name like '%${gradeSelectDto.courseName}%'
        </if>
    </select>
    <select id="selectStudentPage" resultType="com.sms.vo.GradeVo">
        select grade.id, grade.teacher_id, score, u.name as teacherName, c.name as courseName
        from grade
        join user u on grade.teacher_id = u.id
        join course c on grade.course_id = c.id
        where grade.student_id = ${id}
        and grade.deleted = 0
        <if test="gradeSelectDto.teacherName != null and gradeSelectDto.teacherName != ''">
            and u.name like '%${gradeSelectDto.teacherName}%'
        </if>
        <if test="gradeSelectDto.courseName != null and gradeSelectDto.courseName != ''">
            and c.name like '%${gradeSelectDto.courseName}%'
        </if>
    </select>
    <select id="gradeSelfRanking" resultType="com.sms.common.VisualizationData">
        select score as value, c.name as name
        from grade
                 join course as c
                      on course_id = c.id
        where grade.deleted = 0
          and grade.student_id = ${id}
        order by score desc
        limit 5;
    </select>
    <select id="passRanking" resultType="com.sms.common.VisualizationData">
        select c.name as name, SUM(IF(score >= 60, 1, 0)) / COUNT(*) * 100 as value
        from grade
        join course as c
        on grade.course_id = c.id
        where c.deleted = 0
        and grade.teacher_id = ${id}
        group by course_id
        <if test="flag == 0">
            order by value desc
        </if>
        <if test="flag == 1">
            order by value asc
        </if>
        limit 5;
    </select>
</mapper>